/* ## Primary

Moderate violet: 	#7541c8
Very dark grayish blue: 	#48556a
Very dark blackish blue: 	#19212e
White: 	#ffffff

### Neutral

Light gray: #cfcfcf
Light grayish blue: 	#ecf2f8

Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

## Typography

### Body Copy

- Font size: 13px

### Font
font-family: 'Barlow Semi Condensed', sans-serif;

- Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed)
- Weights: 500, 600
 */
* {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  padding: 0;

}
body {
  background-color: #ecf2f8;
}
.main__container {
  display: grid;
  grid-template-columns: [first] 200px [line2] 260px [line3] 230px [col4-start] 220px [end];
  grid-template-rows: [start-line] 280px [row1-end] 280px [end-line];
}
.card {
  margin: 10px;
  padding: 10px;
  display: grid;
  border: 1px solid #c8cdd6;
  box-shadow: 1px 2px #c8cdd6; 
  border-radius: 10px;
}
.card__img {
  border-radius: 50%;
  width: 30px;
  margin: 20px;
}

h2 {
  margin-top: -50px;
  margin-left: 60px;
  float: left;
  font-size: 10px;
  font-weight: 600;
}

.card__verified {
  margin-top: -40px;
  margin-left: 60px;
  font-size: 8px;
  opacity: 50%;

}
.card__quote {
  font-size: 17px;
  line-height: 20px;
}
.card__testimonial {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
  opacity: 70%;
}
.attribution {
  color: #48556a;
  font-size: 11px;
  text-align: center;
}
.attribution__link {
  text-decoration: none;
  color: #48556a;
}
.attribution__link:hover {
  color: 	#3e52a3;
}

/* Individual Card Modifications */

.card--daniel {
  background-color: #7541c8;
  background-image: url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-size: 40%;
  color: #cfcfcf;
}
.card--jonathan {
  background-color: #48556a;
  color: #cfcfcf;
}
.card--jeanette {
  color: #48556a;
  background-color: #fff;
}
.card--patrick {
  color: #cfcfcf;
  background-color: #19212e;
}
.card--kira {
  color: #48556a;
  background-color: #fff;
}


/* Mobile Device */
@media only screen and (max-width: 375px) {

  .main__container {
    width: 300px;  
    display:block;
  }

}
/* Desktop  */
@media only screen and (min-width: 768px) {


/* Grid */
  .card--daniel {
    background-size: 30%;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .card--patrick {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .card--kira {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}